/* .App {
    display: flex;
    justify-content: space-around
} */


.DropDownTree {
    position: fixed;
   
}
.RangeTable {
    position:fixed;
    margin-left:350px;
    z-index: -1;
}

.TreeSelector {
    position:fixed;
    margin-left:850px;
}

.ActionBoxesContainer {
    display:flex
}

